In [24]:
import sqlite3

conn = sqlite3.connect('student_answers.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM answer_sheets1")
rows = cursor.fetchall()

for row in rows:
    id, prn, sub, qno, score, img = row
    print(id, prn, sub, qno, score)

7 1032210894 CET4063B 1 0.993183780184103
8 1032210894 CET4063B 2 1.0000000000000007
9 1032210894 CET4063B 3 0.9978955713576187
10 1032210894 CET4063B 4 0.9999999999999949

In [21]:
for i in range(20,24):
    cursor.execute(f"delete from answer_sheets1 where id ={i}")
    conn.commit()